## Global
#alias -g bat="bat --plain"

alias inst="sudo apt install"
alias search="apt search"
alias update="sudo apt update"
alias autoremove="sudo apt autoremove"
alias upgrade="sudo apt upgrade"

alias open="xdg-open"
alias f='fzf'
alias o='open'

alias lc='colorls -l --sd'

alias glog='git --no-pager log --oneline'
alias gall="git add ."
alias ymp3="youtube-dl -x --audio-format mp3 --add-metadata"

alias juliaplot="julia --sysimage /media/biplab/e271932f-bbce-422e-967e-20895f7111c9/Code/julia/precompile/sys_plots.so"
alias juliawork="julia --sysimage /media/biplab/e271932f-bbce-422e-967e-20895f7111c9/Code/julia/precompile/sys_work.so"
alias juliaflux="julia --sysimage /media/biplab/e271932f-bbce-422e-967e-20895f7111c9/Code/julia/precompile/sys_flux.so"


## Suffix
alias -s md=typora
alias -s pdf=okular

## Paths
alias gtw="cd /media/biplab/e271932f-bbce-422e-967e-20895f7111c9"
alias gtr="cd /media/biplab/e271932f-bbce-422e-967e-20895f7111c9/Work/Renormalisation"

## chessx

alias chessx="~/Downloads/chessx-1.5.6/release/chessx"
